.intro {
	padding-bottom: 10rem;

	.container {
		display: flex;
		flex-direction: column-reverse;

		.intro-text {
			text-align: center;

			.get-started {
				margin-top: 1rem;
			}

			@include desktop {
				text-align: left;
				width: 45%;
			}
		}

		.intro-illustration {
			img {
				width: 150%;
			}

			@include desktop {
				width: 50%;
			}
		}

		@include desktop {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}
}
